  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(https://m.media-amazon.com/images/M/MV5BMTc0MDMyMzI2OF5BMl5BanBnXkFtZTcwMzM2OTk1MQ@@._V1_UY1200_CR85,0,630,1200_AL_.jpg);"></a>
        <div class="about-info">
          <p><span class="title-s">Name: </span> <span>Morgan Freeman</span></p>
          <p><span class="title-s">Email: </span> <span>contact@example.com</span></p>
          <p><span class="title-s">Phone: </span> <span>(617) 557-0089</span></p>
        </div>
      

      </div>
    </nav>
  </div>